<div class="container">
    <h3>Detalhes do Filme</h3>

    <br>

    <div><label> <b> ID: </b> </label> {{ filme.id}}</div>
    <div><label> <b> Título do Filme: </b> </label> {{ filme.titulo}}</div>
    <div><label> <b> Diretor: </b> </label> {{ filme.diretor}}</div>
    <div><label> <b> Ano de Lançamento: </b> </label> {{ filme.anolancamento}}</div>
    <div><label> <b> Gênero: </b> </label> {{ filme.genero}}</div>
    <div><label> <b> Duração: </b> </label> {{ filme.duracao}}</div>

    <br>
    <br>

    <div> <button (click)="voltar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button></div>

    
</div>
